In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import boto3
from io import StringIO
import json

csv_buffer=StringIO()


data = {
    "employee_id": range(1, 11),
    "name": ["Alice", "Bob", "Charlie", "David", "Eva",
             "Frank", "Grace", "Helen", "Ian", "Jane"],
    "gender": ["F", "M", "M", "M", "F", "M", "F", "F", "M", "F"],
    "department": ["HR", "IT", "IT", "Finance", "HR",
                   "IT", "Finance", "HR", "IT", "Finance"],
    "education": ["MBA", "BTech", "BTech", "CA", "MBA",
                  "MTech", "CA", "MBA", "BTech", "CA"],
    "employment_type": ["Full-time", "Full-time", "Contract", "Full-time",
                        "Full-time", "Contract", "Full-time",
                        "Full-time", "Full-time", "Full-time"],
    "location": ["NY", "SF", "SF", "NY", "NY",
                 "SF", "NY", "NY", "SF", "NY"],
    "salary": [50000, 70000, 65000, 80000, 52000,
               72000, 78000, 51000, 69000, 82000],
    "experience": [2, 5, 4, 8, 3, 6, 7, 2, 5, 9],
    "performance_score": [3.8, 4.5, 4.0, 4.7, 3.9,
                          4.2, 4.6, 3.7, 4.1, 4.8],
    "projects_completed": [5, 12, 9, 15, 6, 13, 14, 4, 11, 16],
    "joining_date": pd.to_datetime([
        "2020-01-10", "2018-03-15", "2019-07-01", "2015-06-20",
        "2021-02-11", "2017-09-05", "2016-12-30",
        "2022-04-01", "2019-08-19", "2014-11-10"
    ]),
    "last_promotion_date": pd.to_datetime([
        "2022-01-01", "2021-06-01", "2020-09-01", "2022-03-01",
        "2022-07-01", "2021-11-01", "2022-05-01",
        "2023-01-01", "2021-08-01", "2023-03-01"
    ]),
    "manager_id": [4, 4, 2, np.nan, 4, 2, 4, 5, 2, np.nan],
    "attrition_risk": ["Low", "Low", "Medium", "Low", "Medium",
                       "Low", "Low", "High", "Medium", "Low"]
}

df = pd.DataFrame(data)